
.login-form {
  background-color:rgba(255,255,255,0.7);
  width:45vw;
  position: fixed;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  align-items: center; //because dirsction is column so it works horizontally 
  font-size:15px;

  }

section{
  width: 80%;
  display:flex;
  padding: 10px 0;
  justify-content:center;
}

.app-logo img {
  width:50%;
  height:100%
}

.error-msg{
  color:red;
  padding:10px;
  border:2px solid red;
  width:75%  // background:rgb(252, 178, 152);
}

.fields-section{
  flex-direction: column;
}

.rememberme-forgotpwd-section{
  justify-content: space-between;
  flex-wrap: wrap;
}

.rememberme-forgotpwd-section > .forgot-pwd{
// flex:1;
width:50%;
}

.example-margin {
    margin: 0 10px;
  }
  
.pwd-visiblity{
    cursor:pointer;
}


// @media only screen and (max-width:1200px){
//   .rememberme-forgotpwd-section > *{
//     width:30%;
//     }
   
// }

@media only screen and (max-width:845px){
  
  .login-form {
    width:60vw;
    
  }
}

@media only screen and (max-width:630px){
  
    .login-form {
      width:70vw;
      
    }
}

@media only screen and (max-width:555px){
  
  .login-form {
    width:90vw;    
  }
  
  .rememberme-forgotpwd-section > .forgot-pwd{
    width:100%;
    margin:10px;
  }
}
  