
.login-form {
  background-color: #f2f2f2;
  width: 45vw;
  height: 75vh;
  position: fixed;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; //because dirsction is column so it works horizontally 
  font-size: 15px;
  }

section {
  width: 80%;
  display:flex;
  padding:10px 0;
  justify-content:center;
}

.app-logo img{
  width:55%;
  height: 100%;
  margin: 12px;
}

.login-error-msg {
  color: red;
  margin: 10px;
  padding: 2px;
  text-align: center;
  font-size: 13px;
  width: 75% ;
}

.successful-signup {
  background-color: rgba(61,61,61,0.6);
  color:white;
  text-align:center;
  padding:5px;
  border-radius:5px;
  position: fixed;
  font-size: 14px;
  width: 140px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
}
.fields-section {
  flex-direction: column;
}

.rememberme-forgotpwd-section {
  justify-content: space-between;
  flex-wrap: wrap;
}

.rememberme-forgotpwd-section > * {
  margin: 5px;
}

.pwd-visiblity {
    cursor: pointer;
}

@media only screen and (max-width:845px) {
  .login-form {
    width: 60vw;
  }
  .successful-signup {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}

@media only screen and (max-width:630px) {
    .login-form {
      width: 70vw;
    }
}

@media only screen and (max-width:555px) {
  .login-form {
    width: 90vw;    
  }
  
  .rememberme-forgotpwd-section > .forgot-pwd {
    width: 100%;
  }
}
  