button{
    display: block;
    width:100%;
    
}


#user-profile *{
    display: inline;
    margin:5px;
}

#user-profile:hover{
   background-color: rgb(237,237,237);
}

mat-sidenav-content{
    height:1000px;
}

