mat-sidenav{
    width:30%;
}
.active{
    color:#fd680d;
    border:solid 2px #fd680d;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24);
}

.desktop-sidenav-container{
    display:block;
    width:100%;
}
.responsive-sidenav-container {
    width: 100%;
    border: 1px solid #555;
    display:none;
    mat-sidenav{
        background-color: white;
      }
  }



.list{
    display:flex;
    flex-direction:column;
}


button{
    display: block;
    width:100%;
    
}


#user-profile{
    margin:10px;
    display:flex;
    align-content:center;
    align-items: center;
    cursor: pointer;
}

#user-profile:hover{
    background-color: rgb(237,237,237);
 }
 
#user-profile *{
    display: inline;
    margin:5px;
    
}

 img{
    height:60px;
    width:60px;
    border-radius: 50%
}


mat-sidenav-content{
    height:1000px;
}

app-home-page {
    background-color: #f2f2f2;
}

/*-----------------------------------------------------*/



  @media only screen and (max-width:630px){

    mat-sidenav{
        width:85% ;
    }
  
    .desktop-sidenav-container{
        display:none;
    }

    .responsive-sidenav-container{
        display:block;
    }

   
}
  
 
  

