<mat-sidenav-container class="desktop-sidenav-container">

  <mat-sidenav fixedInViewport [fixedTopGap]="40" mode="side" opened>

    <div id="user-profile" [matMenuTriggerFor]="profileMenu">
        <!-- <mat-icon>account_circle</mat-icon> -->
        <img  id="user-picture" src="../../../assets/images/person-icon.png">
     
      <!-- <h4 >{{currentUser.email}}</h4> -->
      <h4 >{{currentUserEmail}}</h4>

    </div>


    <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>person</mat-icon>
        <span>Edit Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>input</mat-icon>
        <span>logout</span>
      </button>
    </mat-menu>

    <section class="list">

      <div *ngFor="let defList of defLists">
        <button mat-button (click)="setCurrentList($event,defList); showOptions =false" [class.active]="currentList && currentList.listId == defList.listId">{{defList.listName}}</button>
        <hr>
      </div>

      

      <div *ngFor="let list of lists">
        <!-- <button mat-button (click)="getListID($event,list)">{{list.listName}}, {{list.listId}}</button> -->
        <button mat-button (click)="setCurrentList($event,list); showOptions =true"  [class.active]="currentList && currentList.listId == list.listId">{{list.listName}}</button>
      </div>

    </section>
    <hr>
    <!-- <button mat-button ng-right-click menu-items="menuItems" (click)="addNewList()"> -->
    <button mat-button (click)="addNewList()">
      <mat-icon>add</mat-icon>
      <span>Add New List </span>
    </button>

  </mat-sidenav>


  <mat-sidenav-content>
    <h1>{{rename}}</h1>

    <app-home-page #homePage *ngIf="list" [tasks]="tasks" [defList]="defList" [listName]="currentListName" [list]= "currentList" [showOptions]="showOptions" ></app-home-page>

  </mat-sidenav-content>

</mat-sidenav-container>


<!-- =========================== responsiv side nav =========================== -->

<mat-sidenav-container class="responsive-sidenav-container" hasBackdrop="true">
  <mat-sidenav #drawer mode="over">
  
  <div id="user-profile" [matMenuTriggerFor]="profileMenu">
    <div id="user-picture">
      <mat-icon>account_circle</mat-icon>
    </div>
    <h4  >Eman abdu Nasr</h4>
  </div>


  <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item  (click)="openDialog()">
      <mat-icon>person</mat-icon>
      <span>Edit Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>input</mat-icon>
      <span>logout</span>
    </button>
  </mat-menu>

  <section class="list">

    <div *ngFor="let defList of defLists">
      <button mat-button (click)="setCurrentList($event,defList); showOptions =false" [class.active]="currentList && currentList.listName == defList.listName">{{defList.listName}}</button>
      <hr>
    </div>

    

    <div *ngFor="let list of lists">
      <!-- <button mat-button (click)="getListID($event,list)">{{list.listName}}, {{list.listId}}</button> -->
      <button mat-button (click)="setCurrentList($event,list); showOptions =true" [class.active]="currentList && currentList.listName == list.listName" >{{list.listName}}</button>
    </div>

  </section>
  <hr>
  <!-- <button mat-button ng-right-click menu-items="menuItems" (click)="addNewList()"> -->
  <button mat-button (click)="addNewList()">
    <mat-icon>add</mat-icon>
    <span>Add New List </span>
  </button>

  </mat-sidenav>
	<mat-sidenav-content>
		<button mat-raised-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
		 <h1>{{rename}}</h1>

    <app-home-page #homePage *ngIf="list" [tasks]="tasks" [listName]="currentListName" [list]= "currentList" [showOptions]="showOptions"></app-home-page>
	</mat-sidenav-content>
</mat-sidenav-container>