<mat-sidenav-container class="example-container">

  <mat-sidenav fixedInViewport [fixedTopGap]="40" mode="side" opened>

    <div id="user-profile" [matMenuTriggerFor]="profileMenu">
      <div id="user-picture">
        <mat-icon>account_circle</mat-icon>
      </div>
      <h4>Eman abdu Nasr</h4>
    </div>


    <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Edit Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>input</mat-icon>
        <span>logout</span>
      </button>
    </mat-menu>

    <section *ngFor="let list of lists" >
        <button mat-button (click) = "getListID($event,list)">{{list.listName}}, {{list.listId}}</button>
      
    </section>


    <!-- <button mat-button (click)="changePageIndex(1)"> home</button>
    <button mat-button (click)="changePageIndex(2)">settings</button>
    <button mat-button>notifications</button>
    <button mat-button>bla bla</button> -->
  </mat-sidenav>

  <mat-sidenav-content>

    <app-home-page *ngIf="pageIndex == 1"></app-home-page>
    <app-forgotpwd-page *ngIf="pageIndex == 2"></app-forgotpwd-page>
  </mat-sidenav-content>

</mat-sidenav-container>