<!-- <ul *ngFor="let profile of userProfiles"> -->
<div *ngIf="userProfile">

  <section class="uploading-image-section">
    <img src="{{userProfile.imageUrl}}" alt="">

    <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)">
    </label>

    <button mat-raised-button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
  </section>
  <mat-form-field class="mat-field">
    <input matInput type="text" disabled value="{{currentUserEmail}}" placeholder="Email">
  </mat-form-field>

  <mat-form-field class="mat-field">
    <input matInput type="text" placeholder="Display Name" [(ngModel)]="userProfile.displayName">
  </mat-form-field>

  <mat-form-field class="mat-field">
    <input matInput type="text" placeholder="Status" [(ngModel)]="userProfile.status">
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save(userProfile)">Save</button>
  </mat-dialog-actions>
  
</div>