<mat-form-field class="mat-field">
  <input matInput type="text" placeholder="Task Name" [(ngModel)]="data.taskName">
</mat-form-field>

<mat-form-field class="mat-field">
  <mat-select [(ngModel)]="selected" placeholder="Repeating Days">
    <mat-option value="--">--</mat-option>
    <mat-option value="Today">Today</mat-option>
    <mat-option value="Tommorrow">Tommorrow</mat-option>
    <mat-option value="Daily">Daily</mat-option>
    <mat-option value="Weekly">Weekly</mat-option>
    <mat-option value="Monthly">Monthly</mat-option>
    <mat-option value="Yearly">Yearly</mat-option>
    <mat-option value="Pick A Date">Pick A Date</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<!-- <div class="selectedContentSection"> -->

    <div class="selectedContentSection" *ngIf="selected=='--'">
      <h3>There is no repeating days specified for this task</h3>
    </div>

<div class="selectedContentSection" *ngIf="selected=='Daily'">

  <input type="checkbox" [checked]="data.isDaily" (click)="checkDaily()">
  <label>Daily!</label>

</div>
<div class="selectedContentSection" *ngIf="selected=='Weekly'">

  <div *ngFor="let weekday of weekdays">
    <button mat-raised-button [class.active]="weekday.selected == true" (click)="select(weekday)">{{weekday.dayName}}</button>

  </div>

</div>

<div class="selectedContentSection" *ngIf="selected=='Monthly'">

  <div *ngFor="let monthday of monthdays">
    <button mat-raised-button [class.active]="monthday.selected == true" (click)="select(monthday)">{{monthday.dayId}}</button>

  </div>
</div>

<div class="selectedContentSection" *ngIf="selected=='Yearly'">

  <div *ngFor="let yearMonth of yearMonths">
    <button mat-raised-button [class.active]="selectedYearMonth && selectedYearMonth == yearMonth.monthId" (click)="setSelectedMonth(yearMonth)">{{yearMonth.monthName}}</button>

  </div>

  <div *ngFor="let yearDay of yearMonthDays">
    <button mat-raised-button [class.active]="selectedYearDay && selectedYearDay == yearDay" (click)="setSelectedYearDay(yearDay)">{{yearDay}}</button>

  </div>

</div>

<div class="selectedContentSection" *ngIf="selected=='Pick A Date'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date"  [(ngModel)] = "moveInDay">
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  
<div class="example-events">
  <!-- <div *ngFor="let e of events">{{e}}</div> -->
  <p>{{moveInDay}}</p>
</div>

</div>

<!-- </div> -->

<button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button>
<button mat-raised-button (click)="onCloseCancel()">CANCEL</button>