
.archived-tasks {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

ul{
    margin:10px;
    padding:0;
}
li {
    background-color: white;
    width: 15vw;
    border-radius:30px;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

li:hover {
     background-color: rgb(209, 209, 209);
     cursor: pointer;
    //  box-shadow:  0 0 8px 1px white;
}

mat-progress-bar {
    width: 80%;
    height: 12px;
    border-radius:5px;
    box-shadow:  0 0 8px 1px #009668;
}

.info-button {
    border-radius:50%;
    width:5px;
    // height: 30px;
}
.archive-percentage {
    font-size: 14px;
}


@media only screen and (max-width:1000px){ 
    .archived-tasks *{
        font-size: 14px;
    }
    li {
        width:20vw;
    }
    .archive-percentage {
        font-size: 12px;
    }

}

@media only screen and (max-width:640px){ 
    .archived-tasks *{
        font-size: 12px;
    }

    .archive-percentage {
        font-size: 10px;
    }
}


@media only screen and (max-width:550px){ 
    .archived-tasks *{
        font-size: 12px;
    }
    li {
        width:30vw;
        border-radius:15px;
    }
    .archive-percentage {
        font-size: 10px;
    }

}