<div class="archived-tasks">
    <ul *ngFor="let archive of archives">
        <li (click)="openArchiveDetails(archive)">
            <p><strong>Date: </strong>{{archive.archiveDate.toDate() | date: 'mediumDate'}}</p>
            <mat-progress-bar mode="determinate" color="warn" [value]="archive.percentage"><p>{{archive.percentage}}%</p></mat-progress-bar>
            <p class="archive-percentage">{{archive.percentage/100 | percent}}</p>
           
        </li>
    </ul>
</div>
<br>
<br>
<br>
<mat-divider></mat-divider>
<button mat-raised-button (click)=" backToTheTasks()"> Back to Sidenav</button>