.home-container{
    width: 50%;
    margin: auto;
    

    
    .list-header{
        display:flex;
        justify-content: space-between;

        }
        .tasks-section{
            height:250px;

            li mat-icon{
                opacity:0;
            }

            li:hover mat-icon{
                opacity:1;
                color:grey;
                cursor:pointer;
            }

            input{
                border:none;
            }
        }
}


