.list-header{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #009688;
    background-size: cover;
    height:100px;
    color:#fff; 

    }
    .current-time {
        margin:20px;
    }
.listName {
    margin:20px;
}

.listRenameInput{
    font-size: 20px;
    font-weight: bold;

}

.listOptions-menu {
    margin:10px;
}

.tasks-section{
    width:95%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction: column;

    ul{
        padding:0;

        li{
            list-style-type: none; 
            display:flex;
            justify-content:space-between;
        }

        li .edit-icon, li .delete-icon,  li .repeat-icon {
            opacity:0;
        }
    
        li:hover .edit-icon, li:hover .delete-icon,  li:hover .repeat-icon {
            opacity:1;
            color:grey;
            cursor:pointer;
        }

        .task-repeating {
            margin: 5px 30px;

        }
    }

}

/*styling of checkbox items*/

input[type=checkbox] {
    display: none;

  }

input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    float:left;
    // margin-top:10px;
    
  }


input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: rgb(60,60,60);
   }

   
input[type=checkbox] + label:before {
    content: "\2713";
    border: 0.1em solid #000;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    margin-right: 0.5em;
    // margin-top: 3em;
    vertical-align: center;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
}

li label{
    display:block;
}

.original-list-ref{
    font-size: 12px;
    display:block;
    margin-left:30px;
}

.taskrepeating{
    font-size: 12px;
    display:block;
    margin:0;
    display:flex;
    flex-direction: row;
    // padding-top: 25px;
}

.weekdaysRepeating{
    display:inline;
}

.task-and-task-repeating {
    display: flex;
    flex-direction: column;
}

.task-and-orig-list-ref {
    display: flex;
    flex-direction: column;
}

.list-icon {
  color: #fd680d;
  font-size:18px;
  margin-top:10px;
}

.original-list-ref {
  display:flex;
  flex-direction: row;
  justify-items: flex-start;
}


.original-list-ref p {
    margin:0;
    padding:0;
    margin-top:12px;
}

.current-date, .current-time{
  font-size: 17px;
}

.task-name{
   font-size:17px;

}

.task-and-orig-list-ref label, .task-name label{
line-height: 19px;
}

.task-options {
    margin-right:2%;

}
.task-options *{
    line-height: 24px;
}

.task-repeating em{
    line-height: 20px;
    margin-right: 3px;
    margin-left: 3px;
}

.percentage {
    text-align:center;
    font-size: 18px;

}


.percentageEmojies {
    font-size: 60px;
    text-align:center;
}
/*-----------------------------------------------------*/



@media only screen and (max-width:500px){ 
 .home-container *{
    font-size: 14px;
 }
       
    
}