<div class="home-container" *ngIf="currentList">

<!----------------------------------------- Header Section ----------------------------------------->
  <section class="list-header">
    <h1 class="listName" *ngIf="rename==false">{{currentList.listName}}</h1>
    <input class="listNameInput" type="text" autofocus="autofocus" [(ngModel)]="currentList.listName" *ngIf="rename==true"
      (click)="isRename(true)" appRenameList>
    <p class="currentdate" *ngIf="isMyDay==true">{{weekday}}, {{yearMonth}} {{dd}} </p>
    <p class="currentdate" *ngIf="isMyDay==true">{{hh| number: '2.0'}}:{{min| number: '2.0'}}:{{ss| number:
      '2.0'}} </p>

    <mat-menu #listMenu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item (click)="isRename(true)">
        <mat-icon>edit</mat-icon>
        <span>Rename list</span>
      </button>
      <button mat-menu-item (click)=" openDialog()">
        <mat-icon>sort</mat-icon>
        <span>Sort</span>
      </button>
      <button mat-menu-item (click)="deleteList(list)">
        <mat-icon>delete</mat-icon>
        <span>Delete list</span>
      </button>
    </mat-menu>

    <button class="listOptions-menu" mat-icon-button [matMenuTriggerFor]="listMenu" *ngIf="isMyDay==false">
      <mat-icon>more_vert</mat-icon>
    </button>
  </section>

<!----------------------------------------- Tasks Section ----------------------------------------->
  <section class="tasks-section" (click)="isRename(false)" *ngIf="isMyDay==false">
    <ul *ngFor="let task of tasks; index as i">
      <li>
        <div>
          <input type="checkbox" id="task{{i}}" [checked]="task.completed" (click)="checkTask(task)">
          <label for="task{{i}}">{{task.taskName}}</label>
          <label *ngIf="task.selectedRepeatingOption == 'Today' || task.selectedRepeatingOption == 'Tommorrow'" for="task{{i}}"> 📆 {{task.selectedRepeatingOption}}: {{task.moveInDay.toDate() | date : 'mediumDate' }}</label>
          <label *ngIf="task.selectedRepeatingOption == 'Pick A Date'" for="task{{i}}"> 📆 On: {{task.moveInDay.toDate() | date : 'mediumDate' }}</label>
          <label *ngIf="task.selectedRepeatingOption == 'Daily'" for="task{{i}}"> 📆 Daily!</label>
          <label *ngIf="task.selectedRepeatingOption == 'Weekly'" for="task{{i}}"> 📆 {{task.selectedRepeatingOption}}: </label>
          <label *ngIf="task.selectedRepeatingOption == 'Monthly'" for="task{{i}}"> 📆 {{task.selectedRepeatingOption}}: </label>
          <label *ngIf="task.selectedRepeatingOption == 'Yearly'" for="task{{i}}"> 📆 {{task.selectedRepeatingOption}} on : {{yearMonths[task.yearlyMonth-1]}}  {{task.yearlyDay}}</label>

        </div>
        <div>
          <mat-icon>edit</mat-icon>
          <mat-icon (click)="deleteTask(task)">delete</mat-icon>
          <mat-icon (click)="openRepeatingDialog(task)">repeat</mat-icon>
        </div>
      </li>
      <hr>
    </ul>
    <mat-form-field floatLabel="never" class="entering-new-task">
      <input matInput placeholder="Add new task" autocomplete="off" type="text" #newTaskName appEnterNewTask autofocus="autofocus">
    </mat-form-field>
  </section>

  <section class="tasks-section" (click)="isRename(false)" *ngIf="isMyDay==true">
    <ul *ngFor="let todayTask of todayTasks; index as i">
      <li>
        <div>
          <input type="checkbox" id="todayTask{{i}}" [checked]="todayTask.completed" (click)="checkTodayTask(todayTask)">
          <label for="todayTask{{i}}">{{todayTask.taskName}} </label>
          <label *ngIf="todayTask.originalListRef != todayTask.defListRef" for="todayTask{{i}}">{{todayTask.originalListName}} </label>
        </div>
        <div>
          <mat-icon>edit</mat-icon>
          <mat-icon (click)="deleteTodayTask(todayTask)">delete</mat-icon>
        </div>
      </li>
      <hr>
    </ul>
    <mat-form-field floatLabel="never" class="entering-new-task">
      <input matInput placeholder="Add new task" autocomplete="off" type="text" #newTaskName appEnterNewTodaytask
        autofocus="autofocus">
    </mat-form-field>
  </section>

</div>