<div class="home-container" *ngIf="list">

  <section class="list-header">
    <h1 *ngIf="rename==false">{{list.listName}}</h1>
    <input type="text" [(ngModel)]="list.listName"  *ngIf="rename==true" (click)="isRename(true)" appRenameList>
    <!-- <button  (click)= "renameList(list)">update </button> -->

    <button mat-icon-button [matMenuTriggerFor]="listMenu"  *ngIf ="showOptions">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #listMenu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item (click)="isRename(true)">
        <mat-icon>edit</mat-icon>
        <span>Rename list</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>sort</mat-icon>
        <span>Sort</span>
      </button>
      <button mat-menu-item (click)= "deleteList(list)">
        <mat-icon>delete</mat-icon>
        <span>Delete list</span>
      </button>
    </mat-menu>
  </section>

  <section class="tasks-section"(click)="isRename(false)">
    <ul *ngFor="let task of tasks">
      <li>
        <!-- <strong> {{task.taskId}} : </strong> -->
        {{task.taskName}}  <mat-icon>edit</mat-icon> <mat-icon (click) ="deleteTask(task)">delete</mat-icon>
      </li>
      <hr>
    </ul>
    <input type="text" #newTaskName appEnterNewTask autofocus="autofocus">
    <hr>
    <!-- <button (click)="addNewTask(newTaskName)" taskName="">enter</button> -->
  </section>
</div>