
.signup-form {
  background-color: #f2f2f2;
  width: 45vw;
  height: 75vh;
  position: fixed;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; //because dirsction is column so it works horizontally 
  font-size: 15px;
  }
  
section {
  width: 90%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.app-logo img {
  width: 55%;
  height: 100%;
  margin: 12px;
}

.pwd-visiblity {
  cursor: pointer;
}

.socialmedia-section button {
  margin:5px;
  padding:10px;
  color:white;
}
    
.socialmedia-section button img {
  height:20px;
  width:20px;
}
    
.socialmedia-section button .vl {
  background: white;
  height: 100%;
  width: 2px;
  display: inline-block;
}
     
.socialmedia-section .google-btn {
  background:rgb(220,74,56);
  border: none;
}

.socialmedia-section .facebook-btn{
  background: rgb(57,89,154);
  border: none;
}

.signup-error-msg{
  color:red;
  padding:10px;
  border:2px solid red;
  width:75%;
}

.fields-section{
  flex-direction: column;
}

.tooltip-class{
  background: #b71c1c;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  }

.example-margin {
  margin: 0 10px;
}

@media only screen and (max-width:845px) {
 .signup-form {
    width:60vw;    
    }
  }
  
@media only screen and (max-width:630px) {
   .signup-form {
      width:70vw;
      }
  }
  
  @media only screen and (max-width:555px) {
    .signup-form {
      width:90vw;    
    }
  }