<form class="forget-password-form">

    <h3>Forget your Passowrd? Let's get a new one </h3>
    <p> Just Enter your Email here to reset your password</p>
    <mat-form-field class="email-input">
      <input matInput placeholder="Email" [formControl]="emailFormControl" #email>
    </mat-form-field>
    <div *ngIf="sendingEmailSuccess" class="successful-sending-email">
      <h3>{{sendingEmailSuccess}}</h3>
      <p>
        We've sent an email to your email. Click the link in the email to reset your password.
        <br>
        If you don't see the email, check other places it might be, like your junk, spam, social, or other folders.</p>
    </div>
    <div *ngIf="sendingEmailError" class="sending-email-error">
      <h3>{{sendingEmailError}}</h3>
    </div>
 
      <button mat-raised-button color="primary" (click)="resetPassword(email.value)"> Send Email</button>
  
    <p  class="go-to-login-link">Go back to <a routerLink="../login-page" routerLinkActive="active">login page </a></p>

</form>