

.forget-password-form{
    background-color: #f2f2f2;
    width: 45vw;
    height: 75vh;
    position: fixed;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; //because dirsction is column so it works horizontally 
    font-size: 15px;
    text-align:center;
    // justify-content: center;
    .go-to-login-link, button{
        margin:20px;
    }
    
}

.email-input {
    width:80%;
}

.successful-sending-email > h3{
color:green;
}
.sending-email-error > h3{
    color:red;
}

@media only screen and (max-width:800px) {
    h3, p  {
        font-size: 14px;
    }

}
