@import '~@angular/material/theming';

@include mat-core();

$general-primary-theme: mat-palette($mat-teal,  500);
$general-accent-theme:  mat-palette($mat-teal,  600);
$general-warn-theme:    mat-palette($mat-deep-orange,  600);

$general-theme: mat-light-theme($general-primary-theme, $general-accent-theme, $general-warn-theme);

@include angular-material-theme($general-theme);